

.search {
    padding: 14px 20px;
    height: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-black);
    width: 100%;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .searchButton {
    border-radius: 0px 8px 8px 0px;
    padding: 14px 20px;
    height: 100%;
    border: 1px solid var(--color-black);
    border-left: none;
    cursor: pointer;
    position: absolute;
    right: 0;
  }
  
  .listElement {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .albumTitle {
    font-size: 16px;
  }
  
  .albumArtists {
    font-size: 12px;
  }

  @media (min-width: 300px) {
    .searchContainer {
      width: 80%;
    }
  }
  
  @media (min-width: 600px) {
    .searchContainer {
      width: 60%;
    }
  }

  @media (min-width: 960px) {
    .searchContainer {
      width: 50%;
    }
  }
  